.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-between{
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.center{
    align-items: center;
}
.flex{
    display: flex;
}
.justify-content-end{
    justify-content: end;
}
